.collegeData{
    margin-top: 10px;
}
.collegeState{
text-align: center;
margin-top: auto;
margin-bottom: auto;
}
.collegeName{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto; 
}